<div class="container">
  <div class="index_image">
    <img src=<%= @picture.url %> alt="image" class="full_image">
    <div class="image_caption">
      <a href=<%= @picture.url %>><%= @picture.title %>:</a>
      <p><%= @picture.caption %></p>
      <a href="/image/<%= @picture.id %>/edit">[Edit]</a>
    </div>
  </div>
</div>
