<div class="container">
  <div class="index_image">
    <img src="<%= @picture.url %>" alt="image" class="full_image">
    <div class="image_caption">
      <a href="<%= @picture.url %>">
        <p><%= @picture.title %>:</p>
        <p><%= @picture.caption %></p>
      </a>
      <% if signed_in? && @picture.was_submitted_by(current_user) %>
        <a href="/image/<%= @picture.id %>/edit">[Edit]</a><br />
      <% end %>
    </div>
  </div>
</div>

